.custom-navbar {
  position: fixed; /* Navbarを固定位置に設定 */
  width: 100%; /* Navbarをページの幅いっぱいに設定 */
  z-index: 1000; /* 他の要素よりも前面に表示 */
  top: 0; /* ページ上端に固定 */
  height: 70px; 
}

.main-content {
  margin-left: 30px;
  background-color: bisque;
}