{% extends "base.html" %}
{% load humanize %}
{% load custom_filters %}
{% block title %}株売買シミュレーション{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
    <a class="navbar-brand" href="#">株売買シミュレーション</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">HOME<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">ABOUT<span class="sr-only"></span></a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'stock_data_list' %}">シミュレーションリスト</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_view' %}">MY PAGE</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
          </li>
      </ul>
    </div>
  </nav>
  {% endblock header %}
{% block content %}
    <form method="post" action="{% url 'home' %}" id="calculation-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="calculate" value="計算する">
    </form>
    
    <div id="simulation-result">
        {% if ticker_symbol is not None and company_name is not None %}
        <p>証券コード : {{ ticker_symbol }}</p>
        <p>企業名 : {{ company_name }}</p>
        <p>現在株価 : {{ current_stock_price }} 円</p>
        <p>株を購入した日付: {{ date }} </p>
        {% else %}
        
            <p>証券コードが未入力か、入力されたコード該当する株がありませんでした。入力した数字が正しいか確認してください</p>
        {% endif %}
        
        {% if simulation_stock_profit_and_loss is not None %}
            <p>シミュレーション株価: {{ simulation_stock_price|truncate_decimal|format_number|intcomma }} 円</p>
            <p>シミュレーション損益: {{ simulation_stock_profit_and_loss|truncate_decimal|format_number|intcomma }} 円</p>
            <p>平均取得単価: {{ acquisition_stock_price|truncate_decimal|format_number|intcomma}} 円</p>
            <p>購入株枚数: {{ number_of_shares_purchased|truncate_decimal|format_number|intcomma}} 株</p>
            
            {% if ticker_symbol is not None and company_name is not None and user.is_authenticated  %}
                <input type="submit" name="save" value="結果を保存する"  id="save-button">
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                $(document).ready(function() {
                    $('#save-button').click(function() {
                        $.ajax({
                            url: '{% url "save_results" %}',  // 保存用のURLを指定
                            method: 'POST',
                            data: $('#calculation-form').serialize(),
                            success: function(data) {
                                $('#message-container').text(data.message);
                                $('#message-container').show();
                            },
                            error: function() {
                                $('#message-container').text('保存中にエラーが発生しました。');
                                $('#message-container').show();
                            }
                        });
                    });
                });
                </script>
            {% endif %}
            
        {% else %}

            <p>以下の項目を入力してください：</p>
            <ul>
                {% if ticker_symbol is None %}
                    <li>証券コード</li>
                {% endif %}
                {% if simulation_stock_price is None %}
                    <li>シミュレーション株価</li>
                {% endif %}
                {% if acquisition_stock_price is None %}
                    <li>平均取得単価</li>
                {% endif %}
                {% if number_of_shares_purchased is None %}
                    <li>購入株枚数</li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
    <div id="message-container" style="display: none;"></div>
{% endblock %}
