/* about.css */
.carousel-control-prev {
    color: red; /* 前矢印の色を赤に設定 */
}

.carousel-control-next {
    color: red; /* 後矢印の色を赤に設定 */
}

/* custom-carousel.css */
.carousel-control-prev-icon {
    background-color: rgb(165, 234, 236); /* 矢印の色を赤に設定 */
}

.carousel-control-next-icon {
    background-color: red; /* 矢印の色を赤に設定 */
}
