.page-container {
  min-height: 100vh; /* 最小の高さをビューポートの高さに設定 */
  padding: 20px; /* 適切な余白を追加 */
  box-sizing: border-box; /* ボックスサイズを要素全体に適用 */
}

.navbar {
  position: fixed; /* Navbarを固定位置に設定 */
  width: 100%; /* Navbarをページの幅いっぱいに設定 */
  z-index: 1000; /* 他の要素よりも前面に表示 */
  top: 0; /* ページ上端に固定 */
  height: 60px; 
  box-shadow: 0 2px 4px rgba(100, 112, 136, 0.568);

}

.main-content {
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
}

.h1{
  margin-bottom: 10px;
}

.page_nation{
  margin: 0 auto;
}

.table-responsive{
  margin: 0 auto;
}

.table{
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-brand{
  padding-left: 30px;
}

table {
  border: 5px solid;
  border-collapse: collapse; /* セルの間隔を縮小 */
}